@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Playfair+Display&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 20px;
    color: rgb(86,55,39);
}

body {
    font-family: 'Playfair Display', serif;
    background-image: linear-gradient(rgba(122,67,29,0.100),rgba(222,158,72,0.85)),url("../img/pic-title-3.png");
    background-size: cover;
    background-position: center;
    height: 75vh; /* view height */
    background-attachment: fixed;
}

.box{
    display:flex;
    justify-content:center;
}

.form {
    background: rgba(224, 176, 120, 0.7);
    padding: 20px 30px;
    border-radius: 20px;
}

table{
    width: 400px;
    height: 150px;
}

table td{
   font-weight: 500;
}

.forgotpass{
    float: right;
    margin-right: 20px;
}

.forgotpass a{
    font-size: 18px;
    text-decoration: none;
    color:rgb(86,55,39);
    transition: all 0.25s ease-in;
}

.forgotpass a:hover{
    color: white;
    transition: all 0.25s ease-in;
}

table input {
    width: 295px;
    float: right;
    border-radius: 12px;
    padding: 3px 12px;
    outline: none;
    border: none;
}

.btnLogin{
    display:flex;
    justify-content: center;
}

.btnLogin button{
    width: 300px;
    padding: 1px 0;
    border-radius: 12px;
    border: none;
    background-color: rgb(86,55,39);
}

.btnLogin button a{
    color:rgb(224, 176, 120);
    text-decoration: none;
    transition: all 0.25s ease-in;
}

.btnLogin button a:hover{
    color: white;
    transition: all 0.25s ease-in;
}
