<div class="container">
    <div class="form">
        <form action="/">
            <h3>Product manage</h3>
            <table class="function">
                <tr>
                    <th>Product ID</th>
                    <th><input class="input_product" type="text" required></th>
                </tr>
                <tr>
                    <th>Product</th>
                    <th><input class="input_product" type="text" required></th>
                </tr>
                <tr>
                    <th>Genre ID</th>
                    <th><input class="input_product" type="text" required></th>
                </tr>
                <tr>
                    <th>Price</th>
                    <th><input class="input_product" type="text" required></th>
                </tr>
                <tr>
                    <th>Discount</th>
                    <th><input class="input_product" type="text"></th>
                </tr>
                <tr>
                    <th>Discribe</th>
                    <th><input class="input_product" type="text" required></th>
                </tr>
                <tr>
                    <th>Image</th>
                    <th><input class="input_image" type="image" title="Choose image product" required></th>
                </tr>
            </table>
            <div class="btn_function">
                <button type="submit">Create new</button>
                <button type="submit">Update</button>
                <button type="submit">Delete</button>
            </div>

        </form>
    </div>

    <div class="form">
        <form action="/">
            <h3>List genre product ID</h3>
            <table class="function">
                <tr>
                    <th>#</th>
                    <th>Product</th>
                    <th>ID</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Coffee</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Tea</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Fruite</td>
                    <td>2</td>
                </tr>
            </table>
        </form>
    </div>
</div>

