@{
        Layout = "~/Views/Shared/_Layout_Dashboard.cshtml";
}

<style>
    body{
        background-image: none; 

    }

    h2, span{
        color: rgb(226, 154, 61)
    }
</style>

<div class="main-body">
    <h2>Dashboard</h2>
    <div class="promo_card">
        <h1>Welcome to Jazz Coffee Manager</h1>
        <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores, fugit quidem ratione incidunt sit voluptatibus ad harum repudiandae quos beatae, qui aperiam, neque natus! Deleniti id illo !</span>
        <!-- <button>Learn More</button> -->
    </div>

    <div class="history_lists">
        <div class="list1">
            <div class="row">
                <h4>Regular customers</h4>
                <a href="#">See all</a>
            </div>
            <table class="table-history-customer">
                <thead>
                    <tr>
                        <th>Top</th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Rank</th>
                        <th>Ammount</th>
                        <!-- <th>Ammount</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="txt-center">1</td>
                        <td>20CM0001</td>
                        <td>Sam Tonny</td>
                        <td>Diamond</td>
                        <td>11.206.000 VNĐ</td>
                    </tr>
                    <tr>
                        <td class="txt-center">2</td>
                        <td>20CM0153</td>
                        <td>Code Info</td>
                        <td>Silver</td>
                        <td>10.483.000 VNĐ</td>
                    </tr>
                    <tr>
                        <td class="txt-center">3</td>
                        <td>21CM1154</td>
                        <td>Jhon David</td>
                        <td>Brown</td>
                        <td>7.264.000 VNĐ</td>
                    </tr>
                    <tr>
                        <td class="txt-center">4</td>
                        <td>17CM1112</td>
                        <td>Salina Gomiz</td>
                        <td>Diamond</td>
                        <td>5.593.000 VNĐ</td>
                    </tr>
                    <tr>
                        <td class="txt-center">5</td>
                        <td>19CM0025</td>
                        <td>Gomiz</td>
                        <td>Gold</td>
                        <td>4.423.000 VNĐ</td>
                    </tr>
                    <tr>
                        <td class="txt-center">6</td>
                        <td>23CM2258</td>
                        <td>Elyana Jhon</td>
                        <td>Diamond</td>
                        <td>2.423.000 VNĐ</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="list2">
            <div class="row">
                <h4>Best salers</h4>
                <!-- <a href="#">Upload</a> -->
            </div>
            <table class="table-best-product">
                <thead>
                    <tr>
                        <th>Top</th>
                        <th>Product</th>
                        <th>Genre</th>
                        <th>Sales</th>
                        <th>Unit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="txt-center">1</td>
                        <td>Cafe latte</td>
                        <td>Coffee</td>
                        <td>120</td>
                        <td>ly</td>
                    </tr>
                    <tr>
                        <td class="txt-center">2</td>
                        <td>Lavender</td>
                        <td>Fruit</td>
                        <td>97</td>
                        <td>ly</td>
                    </tr>
                    <tr>
                        <td class="txt-center">3</td>
                        <td>Lemonadever</td>
                        <td>Fruit</td>
                        <td>89</td>
                        <td>ly</td>
                    </tr>
                    <tr>
                        <td class="txt-center">4</td>
                        <td>Espresso</td>
                        <td>Coffee</td>
                        <td>68</td>
                        <td>ly</td>
                    </tr>
                    <tr>
                        <td class="txt-center">5</td>
                        <td>Meak tea</td>
                        <td>Tea</td>
                        <td>45</td>
                        <td>ly</td>
                    </tr>
                    <tr>
                        <td class="txt-center">6</td>
                        <td>Fruit tea</td>
                        <td>Tea</td>
                        <td>32</td>
                        <td>ly</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>