@{
    Layout = "~/Views/Shared/_Layout_Dashboard.cshtml";
}

<div class="body-login">
    <div class="login_form">
        <div class="login-form">
            <form action="/" class="form_login">
                <h3>Login</h3>
                <table class="function">
                    <tr>
                        <th>User</th>
                        <td><input class="input_product" type="text" placeholder="Email"></td>
                    </tr>
                    <tr>
                        <th>Password</th>
                        <td><input class="input_product" type="password"></td>
                    </tr>
                </table>
                <div class="btn_function">
                    <button>Login</button>
                </div>
            </form>
        </div>
    </div>
</div>

