@model CoffeeShop.Models.Genre

<style>
    body {
        background-image: none;
        font-size: 16px;
    }

    .from-of-genre .form-group label, input {
        font-size: 16px;
    }

    .from-of-genre {
        padding: 25px;
        margin-left: 30px;
        width: 380px;
    }

        .from-of-genre input, select {
            float: right;
            width: 180px;
            padding: 2px 5px;
            border-radius: 6px;
            font-size: 16px;
        }

    .from-of-genre {
        height: 125px;
    }

    .span {
        display: block;
        font-size: 14px;
    }
</style>

<div style="display:block">
    <div style="margin: 10px 40px">
        <h2> Edit Genre</h2>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form class="from-of-genre" asp-action="UpdateGenre" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <span asp-validation-for="GenreName" class="text-danger span"></span>

                <input type="hidden" asp-for="GenreId" />
                <div class="form-group">
                    <label asp-for="GenreName" class="control-label"></label>
                    <input asp-for="GenreName" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>


