@{
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<div class="container">
    <div class="row">
        <div class="box">
            <div class="form" style="margin-top: 10%;">
                <h2>Login</h2>
                <form action="">
                    <table>
                        <tr>
                            <td>Username</td>
                            <th><input type="text" placeholder="Email"></th>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <th><input type="password"></th>
                        </tr>
                        <tr>
                            <td></td>
                            <th class="forgotpass"><a href="#">Forgot password</a></th>
                        </tr>
                    </table>
                    <div class="btnLogin">
                        <button><a href="../html/index.html">Login</a></button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>