<section class="Payment" id="Payment">
    <div class="row">
        <h3>Payment</h3>
    </div>
    <div class="row">
        <div class="center">
            <form action="/" class="formBillItems">
                <div class="detailBill">
                    <table class="BillItems">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Item</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Tolal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="center-in-table">1</td>
                                <td class="padl-in-table">Capuchino</td>
                                <td class="center-in-table">36.000 VNĐ</td>
                                <td class="center-in-table">2</td>
                                <td class="center-in-table">72.000 VNĐ</td>
                            </tr>
                            <tr>
                                <td class="center-in-table">2</td>
                                <td class="padl-in-table">Late</td>
                                <td class="center-in-table">25.000 VNĐ</td>
                                <td class="center-in-table">3</td>
                                <td class="center-in-table">75.000 VNĐ</td>
                            </tr>
                            <tr>
                                <td class="center-in-table">3</td>
                                <td class="padl-in-table">Capuchino</td>
                                <td class="center-in-table">36.000 VNĐ</td>
                                <td class="center-in-table">2</td>
                                <td class="center-in-table">72.000 VNĐ</td>
                            </tr>
                            <tr>
                                <th colspan="4">Total Bill</th>
                                <th>219.000 VNĐ</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
            <div class="detailBill">
                <h5><b>Detail</b></h5>
                <hr />
                <form>
                    <table class="infoDetailBill">
                        <tr>
                            <td><b>Orderer: </b></td>
                            <td>Nguyễn Quốc Duy</td>
                        </tr>
                        <tr>
                            <td><b>Phone number:</b></td>
                            <td>013547828</td>
                        </tr>
                        <tr>
                            <td><b>Address:</b></td>
                            <td>01 Nguyễn Trãi, Q.1</td>
                        </tr>
                    </table>
                </form>
                <hr />
                <form>
                    <table class="infoDetailBill">
                        <tr>
                            <td><b>Receiver: </b></td>
                            <td>Nguyễn Quốc Duy</td>
                        </tr>
                        <tr>
                            <td><b>Phone number:</b></td>
                            <td>013547828</td>
                        </tr>
                        <tr>
                            <td><b>Address:</b></td>
                            <td>01 Nguyễn Trãi, Q.1</td>
                        </tr>
                    </table>
                </form>
                <hr />
                <form>
                    <table class="infoDetailBill">
                        <tr>
                            <td><b>Discount: </b></td>
                            <td>5%</td>
                        </tr>
                        <tr>
                            <td><b>Fee ship: </b></td>
                            <td>10.000 VNĐ</td>
                        </tr>
                        <tr>
                            <td><b>Total bill: </b></td>
                            <td><b style="font-size: 23px">219.000 VNĐ</b></td>
                        </tr>
                    </table>
                </form>
                <div class="info-order">
                    <div class="btn-info1">
                        <button id="btnOdering" class="btnInDetail">Fill Infomation</button>
                        <button class="btnInDetail">Pay</button>
                    </div>

                    <!-- Modal get info Order -->
                    <div id="ModalOrder2" class="modalInfo">
                        <div class="modal-content1">
                            <div class="menu-top">
                                <span class="close1">&times;</span>
                                <div style="display: flex">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                    <p class="title-menu"><b>Infomaion Bill</b></p>
                                </div>
                            </div>
                            <div class="center">
                                <div class="detailFillForm center">
                                    <form>
                                        <h3><b>Oderer</b></h3>
                                        <table class="formFillDetail">
                                            <tr>
                                                <td><b>Người đặt</b></td>
                                                <td><input type="text" /></td>
                                            </tr>
                                            <tr>
                                                <td><b>Số điện thoại</b></td>
                                                <td><input type="text" /></td>
                                            </tr>
                                            <tr>
                                                <td><b>Địa chỉ</b></td>
                                                <td><input type="text" /></td>
                                            </tr>
                                        </table>
                                    </form>
                                </div>
                                <div class="detailFillForm center">
                                    <form>
                                        <h3><b>Receiver</b></h3>
                                        <table class="formFillDetail">
                                            <tr>
                                                <td><b>Người nhận</b></td>
                                                <td><input type="text" /></td>
                                            </tr>
                                            <tr>
                                                <td><b>Số điện thoại</b></td>
                                                <td><input type="text" /></td>
                                            </tr>
                                            <tr>
                                                <td><b>Địa chỉ</b></td>
                                                <td><input type="text" /></td>
                                            </tr>
                                        </table>
                                    </form>
                                </div>
                            </div>
                            <div class="btnConfirm">
                                <button>Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <script src="~/js/ModalInfoOrder.js"></script>
</section>